@font-face{
	font-family: 'Colors Of Autumn';
	src: url('./Colors Of Autumn.ttf');
	src: local('Colors Of Autumn  Regular'), local('Colors Of Autumn'),
	       url('./fonts/Colors Of Autumn.ttf') format('opentype');
}

body{
    text-align:center;
    background-color:#000000;
	font-family:'Colors Of Autumn';
}
.wrap{
    background-color:#000000;
    color:#FFFFFF;
    position:relative;
    margin-left: 170px;
    width:528px;
    height:400px;
}
#page{
	width:964px;
	height:588px;
	border: 0px;
}
#leftFrame {
	width:25px;
	height:588px;
	float:left;
	vertical-align:middle;
}
#leftFrame span{
	display:table-cell;
	height:588px;
	vertical-align:middle;
}
#flickable {
    background-color:#000000;
    border: 0px;
    width: 939px;
    height: 605px;
    overflow: hidden;
    float: left;
}
#flickable ul {
    list-style: none;
    width:4000px;
    margin: 0;
    padding: 5px;
}
#flickable ul li {
    margin: 0;
    padding: 20px;
    float: left;
}
#flickable .block {
    width: 928px;
    height: 520px;
    padding: 10px;
    float:left;
}
#flickable h4 {
    color: #FFF;
}
#flickable .ui-flickable-container {
    cursor: pointer;
}

.button{
    width:50px;
    height:50px;
    font-size:200%;
}

.header{
    text-align:left;
}

.footer{
    height:100px;
    text-align:right;
}

button {
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}

table{
    background-color:#000000;
    color:#FFFFFF;
    font-family:sans-serif;
}

input{
    font-family:Colors Of Autumn;
}

.operate{
    background-color:#33AAFF;
    color:#000000;
    font-size:200%;
}

.replayTable{
    border-top:1px solid #FFFFFF;
    border-left:1px solid #FFFFFF;
    border-bottom:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    text-align:center;
    width:100px;
    font-family:Colors Of Autumn;
}

table.result {
    border-top:1px solid #FFFFFF;
    border-left:1px solid #FFFFFF;
    border-spacing:0;
    background-color:#FFFFFF;
    empty-cells:show;
}
.resultHead{
    border-bottom:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    color:#FFFFFF;
    background-color:#000000;
}
.resultHead2{
    border-bottom:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    color:#FFFFFF;
    background-color:#000000;
}
.resultBody{
    border-bottom:1px solid #003344;
    border-right:1px solid #003344;
    color:#003333;
    background-color:#FFFFFF;
}